@media (max-width: 767px) {

  .center { 
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }

   .header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  .title { 
    
    width: 343px;
    height: 77.436px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #FFF;
    
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    padding-left: 0;
  }

  .info { 
    width: 343px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    justify-content: center;
    text-align: center;
    padding-left: 0;
  }

  .button {
    
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 239px;
    margin-left: 0;
    
  }
  .for_item { 
    width: 343px;
  }

  .for_item_2 { 
    width: 343px;
  }

  .for_item_3 { 
    width: 343px;
  }

  .footer { 
    padding-bottom: 127px;
  }
  
  .first_game {
    height: 653px;
    padding-bottom: 51px;
  }
  .first_game_box {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .first_game_name {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 0;
    padding-top: 0;
  }
  .first_game_start {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    width: 343px;
    padding-left: 0;
  }
  .first_game_button {
    margin-left: 0;
  }
  .first_game_img {
    padding-top: 64px;
    padding-right: 0;
  }
  .game_img { 
    width: 344px;
  
  }
  .second_game {
    width: 100%;
    flex-direction: column-reverse;
    height: 653px;
    justify-content: start;
    padding-top: 51px;
  }

  .second_game_img {
    width: 344px;
    padding-left: 0;
    padding-top: 64px;
  }
  .second_game_name {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

  }

  .second_game_start { 
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    width: 100%;
    padding-right: 0;
  }
 .second_game_box {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
 }


}